/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16/05/2017, 12:28:51
    Author     : tiago.lucas
*/

.teste {
    background-image: 
        url("#{resource['images/1.ico']}")
        !important;
    background-size: 16px 16px;
}

.teste1 {
    background-image: 
        url("#{resource['images/2.ico']}")
        !important;
    background-size: 16px 16px;
}

.teste2 {
    background-image: 
        url("#{resource['images/3.ico']}")
        !important;
    background-size: 16px 16px;
}